.blog-post-container {
  h1 {
    font-weight: 600;
  }

  article {
    h1, h2, h3 {
      margin-top: 45px;
    }
  }

  .blog-post-meta {
    color: $gray;
  }
}

.blog-index-container {
  h2 {
    font-weight: 600;
  }
}
