#header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#header svg {
  width: 320px;
}

#primary-nav {
  font-family: 'Inconsolata', monospace;
  text-transform: lowercase;
  font-size: 1.5rem;

  a,
  a:visited,
  a:active {
    color: #5f5e5f;
    text-decoration: none;
  }

  a.active {
    color: $active-nav-color;
  }

  li {
    margin: 0 10px;
  }
}

a,
a:visited,
a:active {
  color: $link-color;
  text-decoration: none;
}


footer {
  margin-top: 85px;
  margin-bottom: 50px;
  font-family: 'Inconsolata', monospace;
  color: $text-very-muted-color;

  a,
  a:visited,
  a:active {
    color: $text-very-muted-color;
    text-decoration: underline;
  }
}
