#header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#header svg {
  width: 320px;
}

#primary-nav {
  font-family: 'Inconsolata', monospace;
  text-transform: lowercase;
  font-size: 1.5rem;

  a,
  a:visited,
  a:active {
    color: #5f5e5f;
    text-decoration: none;
  }

  li:nth-child(1) a:hover,
  li:nth-child(1) a.active {
    color: darken($purple, 10%);
  }

  li:nth-child(2) a:hover,
  li:nth-child(2) a.active {
    color: darken($yellow, 20%);
  }

  li:nth-child(3) a:hover,
  li:nth-child(3) a.active {
    color: darken($green, 10%);
  }

  li:nth-child(4) a:hover,
  li:nth-child(4) a.active {
    color: darken($red, 10%);
  }

  li {
    margin: 0 10px;
  }
}

a,
a:visited,
a:active {
  &:not(.button) {
    color: $link-color;
  }

  text-decoration: none;
}


footer {
  margin-top: 85px;
  margin-bottom: 50px;
  font-family: 'Inconsolata', monospace;
  color: $text-very-muted-color;

  a,
  a:visited,
  a:active {
    color: $text-very-muted-color;
    text-decoration: underline;
  }
}

.button {
  background-color: $red;
  color: #fff;

  &:hover {
    background-color: darken($red, 15%);
  }
}
