/* Homepage USPs */

#home-trilogy {
  background-color: #919191;
  color: #fff;
}

#home-trilogy h4 { font-weight: 600; }

#home-trilogy a, #home-trilogy a:visited {
  color: #fff;
}

#home-trilogy svg {
  max-width: 120px;
}

#home-trilogy svg path,
#home-trilogy svg circle {
  fill: #fff;
}
