#hero {
  h1 {
    font-weight: 600;
  }

  .description {
    font-family: "Montserrat", sans-serif;
    margin-top: -100px;
  }
}

#home-trilogy {
  background-color: $gray;
  color: #fff;

  .meetings svg path { fill: $red; }
  .talks  svg path, .talks svg circle { fill: $aqua; }
  .slack svg path { fill: $yellow; }
}

#home-trilogy a, #home-trilogy a:visited {
  color: #fff;
}

#home-trilogy svg {
  max-width: 100px;
}

#home-trilogy svg path,
#home-trilogy svg circle {
  fill: #fff;
}
