@import "_spacers";
@import "_padders";
@import "_global";
@import "_blog";
@import "_homepage";
@import "_pages";

.spacer-top-10 { margin-top: 50px; }
.spacer-bottom-10 { margin-bottom: 50px; }

body {
  background-color: #ccc;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

/* Helpers */
ul.inline li {
  display: inline-block;
}

.text-right { text-align: right; }

footer {
  margin-top: 85px;
  margin-bottom: 50px;
  font-family: 'Inconsolata', monospace;
}
