@import "_spacers";
@import "_padders";
@import "_colors";
@import "_global";
@import "_blog";
@import "_homepage";
@import "_pages";

body {
  background-color: #c5c8c6;
}

body {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Helvetica', sans-serif;
  font-weight: 600;

  &.normal-weight {
    font-weight: normal;
  }
}

/* Helpers */
ul.inline li {
  display: inline-block;
}

.text-right { text-align: right; }
